font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Kristi', cursive;
font-family: 'Cutive', serif;





.home h1 {
    text-decoration-color: pink;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
}
.home h2 {
    font-family: 'Cedarville Cursive', cursive;
}
.highlight {
    color: #C71585;
}

.home-image {
    image-orientation: 500px;

}




blockquote {
    font-size: 50;
    font-family: 
}